In [11]:

#Task 1
import pandas as pd
import numpy as np

# Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A003', 'A005', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 3000000, 2000000, 1000000, 3000000, 2000000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

# Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxemburg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

# Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

# Save DataFrames to CSV files
project_df.to_csv('project.csv', index=False)
employee_df.to_csv('employee.csv', index=False)
seniority_df.to_csv('seniority.csv', index=False)

print("DataFrames created and saved as .csv files.")

DataFrames created and saved as .csv files.

In [12]:
#Task 2

# Read project.csv
project_df = pd.read_csv('project.csv')

# Identify missing values in 'Cost'
missing_indices = project_df[project_df['Cost'].isnull()].index.tolist()

# Compute running average and fill missing values
for i in missing_indices:
    # Calculate the average of existing 'Cost' values up to the current row
    # If there are no non-NaN values before the current row, use the mean of all non-NaN values
    prior_costs = project_df.loc[:i-1, 'Cost'].dropna()
    if not prior_costs.empty:
        running_avg = prior_costs.mean()
    else:
        # Fallback to overall mean if no prior costs are available
        running_avg = project_df['Cost'].mean()
    project_df.loc[i, 'Cost'] = running_avg

# Convert 'Cost' to integer type after filling NaNs, as costs are typically whole numbers
project_df['Cost'] = project_df['Cost'].astype(int)

# Save the updated project_df
project_df.to_csv('project.csv', index=False)

print("\nTask 2: Missing 'Cost' values in 'project.csv' filled using running average.")
print(project_df.head(10)) # Display first few rows to show the change

Task 2: Missing 'Cost' values in 'project.csv' filled using running average.
     ID     Project     Cost    Status
0  A001   Project 1  1002000  Finished
1  A002   Project 2  2000000   Ongoing
2  A003   Project 3  4500000  Finished
3  A004   Project 4  5500000   Ongoing
4  A005   Project 5  3250500  Finished
5  A002   Project 6   680000    Failed
6  A003   Project 7   400000  Finished
7  A005   Project 8   350000    Failed
8  A001   Project 9  2210312   Ongoing
9  A003  Project 10  3000000  Finished

In [13]:
#Task 3

# Read employee.csv
employee_df = pd.read_csv('employee.csv')

# Split 'Name' into 'First Name' and 'Last Name'
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)

# Remove the original 'Name' column
employee_df = employee_df.drop('Name', axis=1)

# Save the updated employee_df
employee_df.to_csv('employee.csv', index=False)

print("\nTask 3: 'Name' column split and removed from 'employee.csv'.")
print(employee_df.head())

Task 3: 'Name' column split and removed from 'employee.csv'.
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxemburg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [14]:
#Task 4

# Read all three dataframes
project_df = pd.read_csv('project.csv')
employee_df = pd.read_csv('employee.csv')
seniority_df = pd.read_csv('seniority.csv')

# Merge employee and seniority dataframes first on 'ID'
final_df = pd.merge(employee_df, seniority_df, on='ID', how='left')

# Then merge with project dataframe on 'ID'
final_df = pd.merge(final_df, project_df, on='ID', how='left')

# Rename the dataframe to "Final"
Final = final_df.copy() # Create a copy to explicitly name it Final

# Save the Final DataFrame 
Final.to_csv('final.csv', index=False)

print("Task 4: All three DataFrames joined into 'Final' DataFrame.")
print(Final.head())

Task 4: All three DataFrames joined into 'Final' DataFrame.
     ID Gender    City  Age First Name  Last Name  Designation Level  \
0  A001      M   Paris   25       John      Alter                  2
1  A001      M   Paris   25       John      Alter                  2
2  A001      M   Paris   25       John      Alter                  2
3  A002      F  London   27      Alice  Luxemburg                  2
4  A002      F  London   27      Alice  Luxemburg                  2

      Project     Cost    Status
0   Project 1  1002000  Finished
1   Project 9  2210312   Ongoing
2  Project 11  2000000    Failed
3   Project 2  2000000   Ongoing
4   Project 6   680000    Failed

In [15]:
#Task 5

# Read the Final DataFrame
Final = pd.read_csv('final.csv')

# Calculate bonus for finished projects
# Ensure 'Cost' is numeric 
Final['Cost'] = pd.to_numeric(Final['Cost'])

# Apply bonus only if 'Status' is 'Finished'
Final['Bonus'] = np.where(Final['Status'] == 'Finished', Final['Cost'] * 0.05, 0)

# Save the updated Final DataFrame
Final.to_csv('final.csv', index=False)

print("\nTask 5: 'Bonus' column added to 'Final' DataFrame.")
print(Final[['Project', 'Status', 'Cost', 'Bonus']].head(10))

Task 5: 'Bonus' column added to 'Final' DataFrame.
      Project    Status     Cost     Bonus
0   Project 1  Finished  1002000   50100.0
1   Project 9   Ongoing  2210312       0.0
2  Project 11    Failed  2000000       0.0
3   Project 2   Ongoing  2000000       0.0
4   Project 6    Failed   680000       0.0
5   Project 3  Finished  4500000  225000.0
6   Project 7  Finished   400000   20000.0
7  Project 10  Finished  3000000  150000.0
8   Project 4   Ongoing  5500000       0.0
9  Project 12   Ongoing  1000000       0.0

In [16]:
#Task 6

# Read the Final DataFrame
Final = pd.read_csv('final.csv')

# Demote designation level for failed projects
# Ensure 'Designation Level' is numeric
Final['Designation Level'] = pd.to_numeric(Final['Designation Level'])

# Get IDs of employees with failed projects
failed_project_ids = Final[Final['Status'] == 'Failed']['ID'].unique()

# Demote their designation level by 1
# Let's assume 'Designation Level' in 'Final' should reflect the latest status for each employee.
# We will demote the unique employee IDs linked to any failed project.

for emp_id in failed_project_ids:
    # Find the rows corresponding to this employee ID
    emp_rows_index = Final[Final['ID'] == emp_id].index
    # Demote the designation level for these rows if it's greater than 1
    # We apply a max(1, current_level - 1) to ensure it doesn't go below 1
    Final.loc[emp_rows_index, 'Designation Level'] = Final.loc[emp_rows_index, 'Designation Level'].apply(lambda x: max(1, x - 1))

# Delete employee records whose designation level is above 4
Final = Final[Final['Designation Level'] <= 4]

# Save the updated Final DataFrame
Final.to_csv('final.csv', index=False)

print("\nTask 6: Designation levels demoted and records with designation level > 4 deleted.")
print(Final[['ID', 'Designation Level', 'Status']].head(10))

Task 6: Designation levels demoted and records with designation level > 4 deleted.
     ID  Designation Level    Status
0  A001                  1  Finished
1  A001                  1   Ongoing
2  A001                  1    Failed
3  A002                  1   Ongoing
4  A002                  1    Failed
5  A003                  3  Finished
6  A003                  3  Finished
7  A003                  3  Finished
8  A004                  2   Ongoing
9  A004                  2   Ongoing

In [ ]:
#Task 7

# Read the Final DataFrame
Final = pd.read_csv('final.csv')

# Add "Mr." or "Mrs." to the "First Name" column

Final['First Name'] = Final.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

# Drop the 'Gender' column
Final = Final.drop('Gender', axis=1)

# Save the updated Final DataFrame
Final.to_csv('final.csv', index=False)

print("\nTask 7: 'Mr.'/'Mrs.' added to 'First Name' and 'Gender' column dropped.")
print(Final[['ID', 'First Name', 'Last Name']].head())

Task 7: 'Mr.'/'Mrs.' added to 'First Name' and 'Gender' column dropped.
     ID  First Name  Last Name
0  A001    Mr. John      Alter
1  A001    Mr. John      Alter
2  A001    Mr. John      Alter
3  A002  Mrs. Alice  Luxemburg
4  A002  Mrs. Alice  Luxemburg

In [ ]:
#Task 8

# Read the Final DataFrame
Final = pd.read_csv('final.csv')

# Ensure 'Age' and 'Designation Level' are numeric
Final['Age'] = pd.to_numeric(Final['Age'])
Final['Designation Level'] = pd.to_numeric(Final['Designation Level'])

# Promote designation level by 1 for employees older than 29
# We'll use a direct conditional assignment to modify the 'Designation Level'.
#  only promote those where Age > 29.
# We also want to make sure we don't over-promote if an employee appears multiple times due to multiple projects.
# To ensure each unique employee is promoted only once, we can identify unique IDs first, then apply.

# Apply promotion only for employees where age is > 29.
# We will increment their designation level by 1.

Final.loc[Final['Age'] > 29, 'Designation Level'] += 1

# Save the updated Final DataFrame
Final.to_csv('final.csv', index=False)

print("\nTask 8: Designation level promoted for employees older than 29.")
print(Final[['ID', 'Age', 'Designation Level']].head(10))

Task 8: Designation level promoted for employees older than 29.
     ID  Age  Designation Level
0  A001   25                  1
1  A001   25                  1
2  A001   25                  1
3  A002   27                  1
4  A002   27                  1
5  A003   29                  3
6  A003   29                  3
7  A003   29                  3
8  A004   31                  6
9  A004   31                  6

In [22]:
#Task 9

# Read the Final DataFrame
Final = pd.read_csv('final.csv')

# Ensure 'Cost' is numeric
Final['Cost'] = pd.to_numeric(Final['Cost'])

# Group by 'ID' and 'First Name' and sum 'Cost'
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename the 'Cost' column to 'Total cost'
TotalProjCost = TotalProjCost.rename(columns={'Cost': 'Total cost'})

# Save the new DataFrame
TotalProjCost.to_csv('TotalProjCost.csv', index=False)

print("\nTask 9: 'TotalProjCost' DataFrame created and saved.")
print(TotalProjCost.head())

Task 9: 'TotalProjCost' DataFrame created and saved.
     ID  First Name  Total cost
0  A001    Mr. John     5212312
1  A002  Mrs. Alice     2680000
2  A003     Mr. Tom     7900000
3  A004   Mrs. Nina     9500000
4  A005    Mrs. Amy     5600500

In [23]:
#Task 10

# Read the Final DataFrame
Final = pd.read_csv('final.csv')

# Filter for cities containing the letter 'o' (case-insensitive)
employees_with_o_in_city = Final[Final['City'].str.contains('o', case=False, na=False)]

print("\nTask 10: Employee details whose city name contains the letter 'o':")
print(employees_with_o_in_city)

Task 10: Employee details whose city name contains the letter 'o':
      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxemburg                  1   Project 2
4   A002   London   27  Mrs. Alice  Luxemburg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  6   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  6  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  6  Project 13

       Cost    Status     Bonus
3   2000000   Ongoing       0.0
4    680000    Failed       0.0
8   5500000   Ongoing       0.0
9   1000000   Ongoing       0.0
10  3000000  Finished  150000.0